<h1>welcome home</h1>

<% @posts.each do |post| %>
	<h3><%= link_to post.title, post %></h3>
	<p class="date"> 
		<%= post.created_at.strftime("%A, %b %d") %>
	</p>
	<% end %>

<%= link_to "See All posts", posts_path %>