// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.input-text-area{
	width: 80%;
	height: 200px;
}

.featured-image {
	width:100%;
}